{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for( 'static', filename='util.js' ) }}" type="text/javascript"></script>
		    
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <form method="POST">
        <h2>Add a new alias targeting {{  mailbox_address }}</h2>
        <ul>
           <li><img src="{{ url_for( 'static', filename='icons/mail_addr.png' ) }}" alt="" class="big-icon"><input name="alias" type="text" placeholder="alias@example.com"></li>>
            <li><img src="{{ url_for( 'static', filename='icons/time.png' ) }}" alt="" class="big-icon"><input type="checkbox" name="end" onclick="dynDateElements(this);"></li>
            <li><p id="inputdate"></p></li>
            <li><input type="submit" value="Validate"></li>
        </ul>
    </form>
{% endblock %}
