{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for( 'static', filename='util.js' ) }}" type="text/javascript"></script>
		    
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <form method="POST">
        <h2>Add a new alias targeting {{  mailbox_address }}</h2>
        <dl>
            <dt>The alias (alias@example.com)</dt>
	        <dd><input name="alias" type="text"></dd>
		<dt><input type="checkbox" name="end" onclick="dynDateElements(this);"><img src="{{ url_for( 'static', filename='icons/time.png' ) }}" alt="" class="icon">Set a time limit
                <dd><p id="inputdate"></p>
            <dt><input type="submit" value="Validate"></dt>
        </dl>
    </form>
{% endblock %}
