{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for( 'static', filename='util.js' ) }}" type="text/javascript"></script>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="POST">
	<h2>You are editing {{ mailbox }}.</h2>
        <dl>
            <dt>Enter the new password</dt>
	        <dd><input name="new_password1" type="password"></dd>
	    <dt>Repeat the new password</dt>
	        <dd><input name="new_password2" type="password"></dd>
	    {% if end_date %}
	    {% else %}
	    <dt><input type="checkbox" name="end" onclick="dynDateElements(this);">Set a time limit
	        <dd><p id="inputdate"></p>
	    {% endif %}
            <dt>Enter the actual password to confirm any modification</dt>
	        <dd><input name="old_password" type="password"></dd>
            <dt><input type="submit" value="Validate"></dt>
        </dl>
    </form>
{% endblock %}
