{% extends "layout.html" %}
{% block body %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    {% if error_syntax %}
    <p class=error><strong>Syntax error:</strong> {% for e in error_syntax %}{{ e }}<br>{% endfor %}</p>
    {% endif %}

    <form method="POST">
        <ul>
            <li><h2>{{ mailbox.address }}'s Sieve filter content</h2></li>
            <li><textarea name="new_content" rows=20>{{ content }}</textarea></li>
            <li class="confirm-pw"><img src="{{ url_for( 'static', filename='icons/passwd_b.png' ) }}" alt="" class="big-icon"><input name="password" type="password" placeholder="Enter actual password to confirm"></li>
            <li class="validate"><input type="submit" value="Validate"></li>
        </ul>
    </form>
{% endblock %}
