{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for( 'static', filename='util.js' ) }}" type="text/javascript"></script>

    {% for e in errors %}
    <p class=error>{{ e.message() | safe }}
    {% endfor %}

    <form method="POST">
	<h2>You are editing {{ alias }}.</h2>
        <ul>
	    {% if end_date %}
	    <li><img src="{{ url_for( 'static', filename='icons/time.png' ) }}" alt="" class="big-icon"><input type="checkbox" name="end" onclick="dynDateElements(this);" checked>
                <div id="end">
                    <script type="text/javascript">
                        dynDateElements(document.getElementsByName("end")[0])
                    </script>
                </div>
            </li>
            {% else %}
	    <li><img src="{{ url_for( 'static', filename='icons/time.png' ) }}" alt="" class="big-icon"><input type="checkbox" name="end" onclick="dynDateElements(this);">
	        <div id="end"></div>
            </li>
	    {% endif %}
	    <li class="confirm-pw"><img src="{{ url_for( 'static', filename='icons/passwd_b.png' ) }}" alt="" class="big-icon"><input name="old_password" type="password" placeholder="Enter actual password to confirm"></li>
            <li class="validate"><input type="submit" value="Validate"></li>
        </ul>
    </form>
{% endblock %}
