{% extends "layout.html" %}
{% block body %}
<table>
    <tr>
        <th class="filter_col">Filter</th>
        <th class="action_col"></th>
    </tr>
    {% for mailbox in mailboxes %}
    <tr>
        <td class="filter_col">{{ mailbox.address }}</td>
        <td class="action_col">
            <a href="{{ url_for( 'edit_filter', mailbox_id=mailbox.id ) }}" title="Edit filter for {{ mailbox.address }}"><img src="{{ url_for( 'static', filename='icons/edit.png' ) }}" alt="" class="icon"></a>
	</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
