<!doctype html>
<title>MailManager</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<header>    
	<ul>
		<li class="title"><a href="{{ url_for('welcome') }}">MailManager</a></li>
		<li class="service"><a href="{{ url_for('mails') }}"><img src="{{ url_for( 'static', filename='icons/mails.png' ) }}" alt="Mails" height=32></a></li>
		<li class="service"><a href="{{ url_for('folders') }}"><img src="{{ url_for( 'static', filename='icons/folders.png' ) }}" alt="Folders" height=32></a></li>
		<li class="service"><a href="{{ url_for('filters') }}"><img src="{{ url_for( 'static', filename='icons/filters.png' ) }}" alt="Filters" height=32></a></li>
		{% if not session.user_id %}
		<li class="metanav"><a href="{{ url_for('login', redir='welcome') }}"><img src=" {{ url_for( 'static', filename='icons/login.png' ) }}" alt="Login" height=32></a></li>
		{% else %}
		<li class="metanav"><a href="{{ url_for('logout') }}"><img src=" {{ url_for( 'static', filename='icons/logout.png' ) }}" alt="Logout" height=32></a></li>
		<li class="metanav"><a href="{{ url_for('edit_user') }}"><img src=" {{ url_for( 'static', filename='icons/settings.png' ) }}" alt="Account Settings" height=32></a></li>
		{% endif %}
	</ul>
	{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
	{% endfor %}
</header>

<main>
	{% block body %}{% endblock %}
</main>

<footer>
	<ul>
	<li class="powered-by">
		Powered by <a href="http://flask.pocoo.org/"><img src="{{ url_for( 'static', filename='flask.png') }}" alt="Flask" height=32>
		</a>
	</li>
	<li class="made-by">
		MailManager - <a href="https://www.maelkervella.eu">Maël Kervella</a>
	</li>
	<li class="git">
		Project on <a href="https://gitlab.rez-rennes.fr/moamoak/mailmanager">
			<img src="{{ url_for('static', filename='gitlab.png') }}" alt="Gitlab" height=32>
		</a>
	</li>
</footer>
