{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <h2>Login</h2>
    <form method=post>
        <ul>
            <li><img src="{{ url_for( 'static', filename='icons/user_b.png' ) }}" alt="" class="icon"><input type=text name=username placeholder="Username"></li>
            <li><img src="{{ url_for( 'static', filename='icons/passwd_b.png' ) }}" alt="" class="icon"><input type=password name=password placeholder="password"></li>
            <li><input type=submit value=Login></li>
        </ul>
    </form>
{% endblock %}
