{% extends "layout_errors.html" %}
{% block body_errors %}

    <form method=post class="login">
        <h2>Login</h2>
        <ul>
            <li><img src="{{ url_for( 'static', filename='icons/user_b.png' ) }}" alt="" class="big-icon"><input type=text name=username placeholder="Username" class="big-width"></li>
            <li><img src="{{ url_for( 'static', filename='icons/passwd_b.png' ) }}" alt="" class="big-icon"><input type=password name=password placeholder="password" class="big-width"></li>
            <li class="validate"><input type=submit value=Login></li>
        </ul>
    </form>
{% endblock %}
