{% extends "layout.html" %}
{% block body %}
{% if error %}
	<p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<table>
    <tr class="tablehead">
        <th class="mail_col">Mail</th>
        <th class="limit_col">Limit</th>
        <th class="action_col"></th>
    </tr>
    {% for m in mails %}
    <tr class="mailbox">
        <td class="mail_col">{{ m.address }}</td>
        <td class="limit_col">{% if m.end_date %}{{ m.end_date }}{% else %}&infin;{% endif %}</td>
        <td class="action_col">
            <a href="{{ url_for('edit_mailbox', mailbox_id=m.id) }}"><img src="{{ url_for( 'static', filename='icons/edit.png' ) }}" alt="Edit" class="icon"></a>
    	    <a href="{{ url_for('del_mail', mail_id=m.id) }}"><img src="{{ url_for( 'static', filename='icons/delete.png' ) }}" alt="Delete" class="icon"></a>
        </td>
    </tr>
        {% for a in m.aliases %}
        <tr class="alias">
            <td class="mail_col">{{ a.address }}</td>
            <td class="limit_col">{% if a.end_date %}{{ a.end_date }}{% else %}&infin;{% endif %}</td>
            <td class="action_col">
		<a href="{{ url_for('edit_alias', alias_id=a.id) }}"><img src="{{ url_for( 'static', filename='icons/edit.png' ) }}" alt="Edit" class="icon"></a>
		<a href="{{ url_for('del_mail', mail_id=a.id) }}"><img src="{{ url_for( 'static', filename='icons/delete.png' ) }}" alt="Delete" class="icon"></a>
            </td>
        </tr>
        {% endfor %}
        <tr class="add-alias">
            <td class="mail_col"></td>
            <td class="limit_col"></td>
            <td class="action_col">
                <a href="{{ url_for('add_alias', mailbox_id=m.id) }}"><img src="{{ url_for( 'static', filename='icons/add_alias.png' ) }}" alt="Add alias" class="icon"></a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="mail_col">
            <a href="{{ url_for('add_mailbox') }}" class="button"><img src="{{ url_for( 'static', filename='icons/add_mailbox.png' ) }}" alt="Add mailbox" class="big-icon">Add a new mailbox</a>
	</td>
        <td class="limit_col"></td>
        <td class="action_col"></td>
    </tr>
</table>
{% endblock %}
