/*body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                      padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                      margin-bottom: 1em; background: #fafafa; }*/
.error          { background: #f0d6d6; padding: 0.5em; }

/*a.button        { -webkit-appearance: button; -moz-appearance: button;
                      appearance: button; text-decoration: none;
	              color: initial; })*/
/* HTML & BODY */
html { height: 100% }
body { margin: 0; min-height: 100%; position: relative; }

/* HEADER
 * fixed on top 
 * display inline with links on the right and the left */
header {
	position: fixed;
	top: 0;
	width: 100%; }
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: forestgreen;
	}
header li{ float: left; line-height: 30px; }
header li.metanav { float:right; }
header li.title {font-size: 1.5em; }
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px 0px 16px;
	text-decoration: none; }
header li:not(.title) a:hover { background-color: darkgreen; }
header img.icon { height: 32px; }

/* MAIN
 * padded to let some space for header and footer */
main { padding: 50px 20px 50px 20px; }
main li img { vertical-align: middle; }
main img.icon { height: 24px; }

/* FOOTER
 * set at the bottom of page but don't overlap the main */
footer {
	font-size: small;
	text-align: center;
	bottom:0;
	width: 100%;
	position: absolute; }
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 10px;
	overflow: hidden;
	background-color: darkslategrey; 
	color: white; }
footer li { display: inline; line-height: 30px; }
footer li.powered-by { float: left; }
footer li.git { float:right; }
footer li a { color: white; text-decoration: underline; }
footer li img { display: inline; vertical-align: middle; }
footer img.icon { height: 32px; }

/* FLASH
 * flash messages pop a small banner under the the header */
@keyframes slideInAndOutFromTop {
	0% { transform: translateY(-500%); }
	20%, 80% { transform: translateY(0); }
	100% { transform: translateY(-500%); }
}
.flash {
	z-index: -1;
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
	width: 50%;
	text-align: center;
	margin: 0 auto; 
	border-radius: 0px 0px 10px 10px; 
	position: relative;
	animation: slideInAndOutFromTop 7s ease 0s 1 forwards ; }
