/* HTML & BODY */
html { height: 100% }
body { margin: 0; min-height: 100%; position: relative; }

/*******************************************************
 *                        HEADER                       *
 * fixed on top                                        *
 * display inline with links on the right and the left *
 *******************************************************/
header {
	position: fixed;
	top: 0;
	width: 100%; }
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: forestgreen;
	}
header li{ float: left; line-height: 30px; }
header li.metanav { float:right; }
header li.title {
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold; }
header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px 0px 16px;
	text-decoration: none; }
header li:not(.title) a:hover { background-color: darkgreen; }
header img.icon { height: 32px; }

/**************************************************
 *                     MAIN                       *
 * padded to let some space for header and footer *
 **************************************************/

/* General */
main { padding: 50px 20px 50px 20px; }

/* Icons */
main li img { vertical-align: middle; }
main img.icon { height: 18px; }
main img.big-icon {
	height: 28px;
	vertical-align: middle;
	padding: 0px 10px 0px 0px; }

/* Errors */
main p.error {
	background: #f0d6d6;
	padding: 10px;
	margin: 0;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: red;
	border-width: 5px;
	border-radius: 0px 0px 25px 25px; }

/* Tables */
main table {
	border-spacing: 0px;
	margin: 10px 5% auto 5%;
	width: 70% }
main table *.filter_col {
	text-align: left;
	width: 60%; }
main table *.mail_col {
	text-align: left;
	width: 40%; }
main table *.limit_col {
	text-align: center;
	width: 20%; }
main table *.action_col {
	text-align: right;
	width: 10%; }
main table tr.mailbox {
	background-color: #C9FFDB; }
main table tr.alias td.mail_col::before {
	content: url("/static/icons/alias_entry.png"); }

/* Generic form */
main form {
	width: 70%;
	margin: 0 5%; }
main form ul {
	list-style-type: none;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 25px 25px;
	border-color: forestgreen;
	border-width: thick;
	border-left-style: solid;
	border-bottom-style: solid;
	border-radius: 0px 0px 25px 25px; }
main form li {
	margin: 15px; }
main form li.validate, main form li.confirm-pw {
	text-align: right; }
main form li input.big-width {
	width: 15em; }
main form li img {
	margin-right: 15px; }
main form div#end {
	display: inline-block;
	margin: auto auto auto 15px; }
main form h2 {
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: forestgreen;
	border-width: 5px;
	border-radius: 0px 0px 0px 25px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 10px;}

/* Login form */
main form.login {
	margin: 0 auto;
	width: 50%;
	border-style: groove;
	border-radius: 0px 0px 25px 25px;
	text-align: center; }
main form.login ul {
	padding: 0px;
	margin: auto;
	border: none; }
main form.login h2 {
	margin: auto;
	border: none;
	padding: 10px 0px 15px 0px; }

/* Textarea for filter form */
main form textarea {
	width: 100%;
	height: 35em; }

/********************************************************
 *                       FOOTER                         *
 * set at the bottom of page but don't overlap the main *
 ********************************************************/
footer {
	font-size: small;
	text-align: center;
	bottom:0;
	width: 100%;
	position: absolute; }
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 10px;
	overflow: hidden;
	background-color: darkslategrey; 
	color: white; }
footer li { display: inline; line-height: 30px; }
footer li.powered-by { float: left; }
footer li.git { float:right; }
footer li a { color: white; text-decoration: underline; }
footer li img { display: inline; vertical-align: middle; }
footer img.icon { height: 32px; }

/**********************************************************
 *                          FLASH                         *
 * flash messages pop a small banner under the the header *
 **********************************************************/
@keyframes slideInAndOutFromTop {
	0% { position: fixed; top: 0; }
	0% { position: relative; top: auto; transform: translateY(-500%); }
	20%, 80% { position: relative; top: auto; transform: translateY(0); }
	100% { position: relative; top: auto; transform: translateY(-500%); }
	100% { position: fixed; top: 0; }
}
.flash {
	z-index: -1;
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
	width: 50%;
	text-align: center;
	margin: 0 auto; 
	border-radius: 0px 0px 10px 10px; 
	position: fixed;
	top: 0;
	animation: slideInAndOutFromTop 7s ease 0s 1 forwards ; }
